.svelte-kit
.vercel
node_modules
src
static
tests
.eslintrc.cjs
.gitignore
.npmrc
.prettierignore
.prettierrc
mdsvex.config.js
playwright.config.ts
pnpm-lock.yaml
postcss.config.cjs
svelte.config.js
tailwind.config.cjs
vite.config.ts